.sections {
    border-bottom: 3px solid #f32a2a;
}

.prevnext i {
    color: #f32a2a;
    font-size: 20px;
}

.prevnext {
    margin-top: 30px;
}

    .prevnext a {
        color: #5c5c5c;
        font-size: 20px;
        margin-left: 50px;
    }
.warpper-blog .blog-sidber .recent-post ul li h3 {
    float: left;
    margin-right: 20px;
}
.warpper-blog .blog-sidber .recent-post ul > li {
    border-bottom: 1px solid #f32a2a;
}
    .warpper-blog .blog-sidber .recent-post ul > li p {
        color: #f32a2a;
    }
