.sections h2 {
    color: #ffce72;
}
.warpper-blog {
    background: white;
}
    .warpper-blog .blog-sidber .recent-post ul > li {
        border-bottom: 1px solid #ffce72;
    }
.sections {
    border-bottom: 3px solid #ffce72;
}
.warpper-blog .blog-sidber .recent-post ul > li > span {
    color: #ffce72;
}
.warpper-blog .blog-sidber .recent-post ul > li > h6 > a:hover {
    color: #ffce72;
}
.warpper-blog .inner-blog .post-title a {
    color: #ffce72;
}

.prevnext i {
    color: #ffce72;
    font-size: 20px;
}

.prevnext {
    margin-top: 30px;
}

    .prevnext a {
        color: #5c5c5c;
        font-size: 20px;
        margin-left: 50px;
    }
